<h1>Mensajes</h1>
<%= link_to "Enviar nuevo mensaje", new_message_path %>
<ul>
  <% @messages.each do |m| %>
    <li>
      <strong>Chat
      <%= m.user.email %>: <%= m.body %>
    </li>
  <% end %>
</ul>
