<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Page</title>
</head>
<body>
    <%= render "templates/nav" %>
  <header>
    <h1>Titulo</h1>
    <h2>Subtitulo</h2>
  </header>
  <section>
    <p>Descripcion, hola como estan, aaaaaaaa</p>
  </section>
</body>
<%= render "templates/footer" %>
</html>