<h1>Chats</h1>
<%= link_to "Nuevo chat", new_chat_path %>

<ul>
  <% @chats.each do |chat| %>
    <li>
      <%= link_to "Chat ##{chat.id}", chat %>
      (de <%= chat.sender.email %> a <%= chat.receiver.email %>)
    </li>
  <% end %>
</ul>

